* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
pre {
    font-size: 5vw;
}
footer {
    position: fixed;
    bottom: 5px;
    right: 5px;
}